/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov. 2025, 10:24:58
    Author     : alejandro.huefer
*/

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightblue;
}

main{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 15vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img{
    width: 40px;
    height: 40px;
}